---
layout: default
title: 404 - Page not found
permalink: /404.html
---

<div class="text-center">
  <h1>Whoops, this page doesn't exist.</h1>
  <h1>Move along. (404 error)</h1>
  <br/>

  <img src="{{ site.baseurl }}/img/emptyset.png" />
</div>
